.editDetails{
    margin-bottom: 10px;
    margin-top: 103px;
}

@media(max-width: 767px){
    .editDetails{
        width: 50%;
        margin-bottom: 30px;
    }
}

@media(max-width: 574px){
    .editDetails{
        width: 100%;
    
    }
}