#logCard{
    padding-top: 140px;
    margin-top: 0;
}

.logStyle{
    text-align: left;
    padding: 30px;
    color: 
    #644905;
    font-family: 'Fresca', sans-serif;
    font-size: 1.2em;
}

#labTypoColor{
    color: 
    #795908;
}

.login-card {
    display: flex;
    max-width: 500px;
    border-radius: 30px;
    margin: 30px auto;
   
    padding: 100px;
}

#submitLog{
    justify-self: center;
    max-width: 300px;
    border-radius: 10px;
    margin-bottom: 10px;
    padding: 0px 30px 0px 30px;
    background-color: 
    #f7b103 ;
    color: 
    #6e5005;
    font-family: 'Fresca', sans-serif;
    font-size: 1.2em;
    --bs-btn-border-color: 0;
}

#forgPassword{
    justify-self: center;
}